body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#E9F6FF, #B6E0FF);
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
    overflow: auto;
}


/* .white-filter{
    height: 100%;
    width: 100%;
    background-color: white;
} */
.img{
    background-image: url(../jp-valery-d6zhrLt-Ao8-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* z-index: 9000; */
}


/* /////////// */
.city-search{
    height: 25%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

input{
    height: 3.5vh;
    padding: 0 1vh;
    margin: 1vh;
    border: none;
    border-radius: 0.8vh;
    font-size: 20px;
    color: #39444D;
    /* filter: drop-shadow(0.2vh 0.3vh 0.55vh #d4dde4); */
}
button{
    height: 3.5vh;
    padding: 0 1vh;
    background-color:transparent;
    border: 1.5px rgb(51, 51, 51) solid;

    border-radius: 0.8vh;
}
button:hover{
    background-color: #39444D;
    color: white;
}
.btn{
    color: #272727;
}


/* /////////// */
.temperature{
    height: 55%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: black 1px 0 10px;


}



.results-box{
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 9vh;
}
.cityResult{
    font-size: 40px;
}
.country{
    font-size: 20px;
    /* color: #39444D; */
    color: white;
    text-shadow: black 1px 0 10px;
    margin-bottom: 15vh;
}
.temp{
    font-size: 64px;
    font-weight: 900;
}


/* /////////// */
.sentence{
    height: 20%;
    width: 100%;
    /* background-color: tomato; */
    /* margin-left: 7vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #39444D;
}

h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
/* //////////////////// */


/* // EFFET AU CLICK  // */
.clickAnim{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(#fd6e1b, #f9d423);

    position: absolute;
    z-index: 9000;
    transform: scale(0);
    transform-origin: center;
    animation: clickAnim 0.5s ease-in-out;
}
/* //// */



.error {    
    animation: shake 0.1s ease-in-out 0.1s 5 alternate;
}
@keyframes shake {
    from {
       transform: rotate(1deg);
       border: 1px solid rgb(218, 24, 24);
    }
    to {
       transform-origin:center center;
       transform: rotate(-1deg);
       border: 2px solid red;
    }
}

@keyframes clickAnim{
    0%{
        transform: scale(0)
    }
    50%{
        transform: scale(2);
        opacity: 1;
    }
    0%{
        transform: scale(0);
        opacity: 0;
    }
}


@media screen and (max-width: 520px) {
    h1{
        font-size: 23px;
    }
    h3 {
        font-size: 16px;
    }
    .sentence{
        padding: 3vh 3vh 0 3vh;
    }
}

@media screen and (max-width: 450px) {
    h1{
        color: white;
    }
    h3{
        color: white;
    }
}

@media screen and (max-width: 400px) {
    input{
        width: 16vh;
    }
}

@media screen and (max-width: 290px) {
    input{
        width: 10vh;
    }
    .results-box{
        width: 90%;
        /* background-color: tomato; */
    }
    .sentence{
        height: 40%;
        width: 90%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #39444D;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
}